@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Open+Sans&display=swap');
@import "bulma";

.navbar-title{
  font-family: 'Mulish', sans-serif;
  font-size: 21px;
}

body {
  font-family: 'Open Sans', sans-serif;
}
